/*span.vertbar {
    display:block;}
*/
    
.topnav {
  z-index:9999;}    
    
.sidebarnav {
  height: 100%; /* 100% Full-height */
  width: 75vw; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 9990; /* Stay on top */
  top: 0;
  left: -75vw;
  /* background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.25 second transition effect to slide in the sidebar */
}    


.sidebarnavtext {
  padding: 8px 8px 8px 32px;
  font-size: 125%;
  display: block;
  transition: 0.5s;
}    

    
/*    
@media (max-width: 768px) {
    span.vertbar {
    display: none;}}
*/